/* ============================================================================
   FONDO: Mi Diseño Personalizado
   ============================================================================ */

.rotulo {
  background-image: url('/fondo3.png');
  background-size: cover;
  background-position: center;
  font-family: 'Mosk', sans-serif;
}

.producto {
  position: absolute;
  top: 150px;
  left: 40px;
  right: 40px;
  bottom: 809.802px;
  color: #75351b;
  font-family: 'Mosk', sans-serif;
}

.precio-actual {
  position: absolute;
  top: 620px;
  left: 0px;
  right: 0px;
  bottom: 339.802px;
  color: #ffffff;
  font-family: 'Mosk', sans-serif;
}

.antes {
  position: absolute;
  top: 739.802px;
  left: 0px;
  right: 0px;
  bottom: 220px;
  color: #ffffff;
  font-family: 'Mosk', sans-serif;
}

.ahorre {
  position: absolute;
  top: 779.802px;
  left: 0px;
  right: 0px;
  bottom: 180px;
  color: #ffffff;
  font-family: 'Mosk', sans-serif;
}

