/* ============================================================================
   FONDO: Mi Diseño Personalizado
   ============================================================================ */

.fondo .rotulo {
  background-image: url('/fondo.png');
  background-size: cover;
  background-position: center;
  font-family: 'Mosk', sans-serif;
}

.fondo .producto {
  position: absolute;
  top: 150px;
  left: 40px;
  right: 40px;
  bottom: 809.802px;
  color: #75351b;
  font-family: 'Mosk', sans-serif;
}

.fondo .precio-actual {
  position: absolute;
  top: 620px;
  left: 0px;
  right: 0px;
  bottom: 339.802px;
  color: #ffffff;
  font-family: 'Mosk', sans-serif;
}

.fondo .antes {
  position: absolute;
  top: 730px;
  left: 0px;
  right: 0px;
  bottom: 220px;
  color: #ffffff;
  font-family: 'Mosk', sans-serif;
}

.fondo .ahorre {
  position: absolute;
  top: 770px;
  left: 0px;
  right: 0px;
  bottom: 180px;
  color: #ffffff;
  font-family: 'Mosk', sans-serif;
}

